body {
  background-color: #FCFCFC;
  font-family: 'Raleway', sans-serif;
}

header {
  padding-top: 10vh;
  color: #211a1e;
}

h1, h2, h4 {
/* CSS Reset from wing */
  margin: 0 auto;
  letter-spacing: 1.5px;
}

h1 {
  font-weight: 700;
}

a, a:link, a:visited {
  text-decoration: none;
}

#esri {
  color: #8AAD05;
}

#esri:hover {
  text-decoration: #211a1e line-through;
}

#ucr {
  color: #5bc0eb;
}

#ucr:hover {
  text-decoration: #fde74c line-through;
}

#soundcloud {
  color: #f9320c;
}

#soundcloud:hover {
  text-decoration: #568D4B line-through;
}

#github {
  color: #7200da;
}

#linkedin {
  color: #ef5285;
}

#ig {
  color: #60c5ba;
}

#mail {
  color: #00b9f1;
}

a:hover {
  text-decoration-line: line-through;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 33%;
}

div.p-text-wrapper {
  padding: 0 25%;
  margin-bottom: 10%;
}

p {
  color: #777777;
  font-size: 1.5em;
}

.small {
  font-size: 0.75em;
}

.form {
  margin: 10% 10%;
}

path {
  display: inline;
}

svg {
  margin: 0 auto;
}

footer {
  margin: 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div.p-text-wrapper {
    padding: 0 10%;
  }
}
