<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" /> 
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Email Signatures</title>
   <link rel="stylesheet" href="css/emailsignatures.css">
</head>
<body>
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Wendy Li</h1>
        <h5>Operations Lead at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:example@example.com">wli025@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  

</body>
</html>
