<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" /> 
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Email Signatures</title>
   <link rel="stylesheet" href="css/emailsignatures.css">
</head>
<body>

<!--
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Cindy Quach</h1>
        <h5>Marketing Lead at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:cquac002@ucr.edu">cquac006@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
 
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Wendy Li</h1>
        <h5>Operations Lead at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:wli025@ucr.edu">wli025@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Carmina Delos Santos</h1>
        <h5>Operations Lead at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:example@example.com">wli025@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Patrick Tumbucon</h1>
        <h5>Sponsorship Lead at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:ptumb001@ucr.edu">ptumb001@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
-->
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Jerry Tan</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:jtan027@ucr.edu">jtan027@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Rocio Roman</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:rroma004@ucr.edu">rroma004@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Harley Siezar</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:hsiez001@ucr.edu">hsiez001@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Sidney Son</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:sson007@ucr.edu">sson007@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Douglas Tran</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:dtran063@ucr.edu">dtran063@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="signature-wrap">
      <div class="avatar">
        <img class="avatar" src="img/avatar.jpg" alt="avatar">
      </div>
      <div class="profile">
        <h1>Ji Hwan Kim</h1>
        <h5>Sponsorship Fellow at <a href="http://citrushack.com">Citrus Hack</a></h5>
        <a href="mailto:jkim393@ucr.edu">jkim393@ucr.edu</a>
        <p>(123) 456-7890</p>
      </div>
    </div>
  </div>
  

</body>
</html>
