<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/png" href="img/favicon-16x16.png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  
  <title>Projects</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/wingcss" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/projects.css" />

</head>
<body>
  
  <div class="nav center">
    <h5 class="nav-logo">PT</h5>
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/projects">Projects</a>
  </div>

 <div class="row text-center">

  <div class="col">
    <img class="project-image" src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="flooferbot">
    <h4 class="project-header">Flooferbot</h4>
    <p class="project-description">An automated Javascript Twitter client that posts a picture of a dog from a dog dataset on a 30 minute interval</p>
  </div>

  <div class="col">
    <video class="project-image" autoplay="autoplay" loop="loop" preload="auto">
      <source src="https://i.imgur.com/W79VjqY.mp4" type="video/mp4"></source>
    </video>
    <h4 class="project-header">Citrus Hack 2018</h4>
    <p class="project-description">Designed the Citrus Hack 2018 landing page.</p>
  </div>

 </div>

 <div class="row">
    
    <div class="col">
      <img class="project-image" src="" alt="">
      <h4 class="project-header"></h4>
      <p class="project-subtitle"></p>
      <p class="project-description"></p>
    </div>
    
    <div class="col">
      <img class="project-image" src="" alt="">
      <h4 class="project-header"></h4>
      <p class="project-subtitle"></p>
      <p class="project-description"></p>
    </div>

 </div>

</body>
</html>
