<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/png" href="img/favicon-16x16.png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  
  <title>Projects</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/wingcss" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/projects.css" />

</head>
<body>
  
  <div class="nav center">
    <h5 class="nav-logo">PT</h5>
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/projects">Projects</a>
  </div>

  <div class="text-center">
    <h1 class="text-center">Projects</h1>
    <hr>
    <p class="project-description">A collection of what I do for fun. I use <a id="github" href="">GitHub</a> to showcase my code for these projects.</p>
  </div>
  
  <div class="row text-center">

    <div class="col">
      <a href="http://citrushack.com">
	<video class="project-image" autoplay="autoplay" loop="loop" preload="auto">
	  <source src="https://i.imgur.com/W79VjqY.mp4" type="video/mp4"></source>
	</video>
      </a>
      <h4 class="project-header">Citrus Hack 2018</h4>
      <p class="project-description">Citrus Hack is a 24 hour hackathon hosted at UC Riverside. I designed the website with the help of Citrus Hack's marketing team. I also implemented a feature where the color scheme and background change according to the time of day.</p>
    </div>
  
    <div class="col">
      <a href="http://alceeinsurance.com">
	<video class="project-image" autoplay="autoplay" loop="loop" preload="auto">
	 <source src="https://i.imgur.com/GE3MZiq.mp4" type="video/mp4"></source>
	</video>
      </a>
      <h4 class="project-header">Alcee Insurance</h4>
      <p class="project-description">Alcee Insurance is a truck insurance company located in Glendale, California. I developed a static desktop website for them. Users can learn about services offered, find contact information, and submit a form to get an insurance quote.</p>
    </div>

 </div>

 <div class="row">
    
    <div class="col">
      <a href="https://twitter.com/flooferbot">
	<img class="project-image" src="https://static.pexels.com/photos/69433/pexels-photo-69433.jpeg" alt="">
      </a>
      <h4 class="project-header">Flooferbot</h4>
      <p class="project-description">An automated Twitter client that takes images of floofy dog breeds from the Dog API. Posts on a 30 minute interval. Good bot.</p>
    </div>
    
    <div class="col">
      <a href="https://chrome.google.com/webstore/detail/b-ify/ijkdkjljgbokflfcmjmipiibdhcfahji?hl=en-US">
	<img class="project-image" src="img/bify.jpg" alt="">
      </a>
      <h4 class="project-header">B-ify</h4>
      <p class="project-description">A Google Chrome extension that replaces certain occurences of 'B' with the appropriate emoji.</p>
    </div>

 </div>

</body>
</html>
