body {
  background-color: #FCFCFC;
  font-family: 'Raleway', sans-serif;
}

.nav-logo {
  border: 1px solid black;
  margin-right: 50%;
}

.nav-item {
  color: #84b1ed;
  font-weight: 700;
}

header {
  color: #211a1e;
}


h1, h2, h4 {
/* CSS Reset from wing */
  margin: 0 auto;
  letter-spacing: 1.5px;
}

h1 {
  font-weight: 700;
}

a, a:link, a:visited {
  text-decoration: none;
}

#acm {
  color: #8F2D56;
  text-decoration: none;
}

#acm:hover {
  color: #67d5b5;
}

#citrus-hack {
  color: #f68657;
  text-decoration: none;
}

#citrus-hack:hover{
  color: #41d3bd;
}

#esri {
  color: #8AAD05;
  text-decoration: none;
}

#esri:hover {
  color: #f16b6f;
}

#ucr {
  color: #5bc0eb;
  text-decoration: none;
}

#ucr:hover {
  color: #efdc05;
}

#soundcloud {
  color: #f9320c;
  text-decoration: none;
}

#soundcloud:hover {
  color: #e3e36a;
}

#github {
  color: #7200da;
  text-decoration: none;
}

#github:hover {
  color: #aaabd3;
}

#linkedin {
  color: #ef5285;
  text-decoration: none;
}

#linkedin:hover {
  color: #d4df36;
}

#ig {
  color: #60c5ba;
  text-decoration: none;
}

#ig:hover {
  color: #ef5285;
}

#mail {
  color: #00b9f1;
  text-decoration: none;
}

#mail:hover {
  color: #feee7d;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 33%;
}

div.p-text-wrapper {
  padding: 0 25%;
  margin-bottom: 10%;
}

p {
  color: #777777;
  font-size: 1.5em;
}

.small {
  font-size: 0.75em;
}

.fixed {
  position: fixed;
}

.row {
  padding: 0 10%;
}

.form {
  margin: 10% 10%;
}

path {
  display: inline;
}

svg {
  margin: 0 auto;
}

footer {
  margin: 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div.p-text-wrapper {
    padding: 0 10%;
  }

  body {
    overflow-x: hidden;
  }

  .nav-logo {
    margin: 10%;
  }
}
